





html {

	line-height: 1.15;
	font-family: sans-serif

}



body {

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	background-color: rgba( 40,40,45,0.8);
	color: rgba(255, 255, 255, 0.8);

}


/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: top;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color:rgba(220,220,225, 0.7);
}

#namebrand:hover {
	color: white;
}



#logo {

	font-family: Raleway, sans-serif;
	font-size: 1.4em;
	padding-right: 1.1em;

}

#data {

	color: orange;
}
.navlinktext {
	margin-top: 5px;
}

/* Footer */ 

.footer {

	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
	background-color: #333;
	color: white;
	font-size: 0.7em;

}

#backtop {

	margin-top: 20px;

}
