

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <title> Twitter Scraper </title>
        <!-- Linking to CSS and JS pages -->
        <link rel = "stylesheet" href="{{ url_for('static', filename='styles/index.css')}}" >
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/d3.v4.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/require.js')}}"></script>
    </head>


    <body>

        <!-- Navigation Bar -->

            <ul class="navbar">
                <li style="font-size: 1.3em">  <a id = "namebrand"  > Twitter Scraper </a> </li>
                <li> <a style="color: orange" class = "navlinktext" href = "http://localhost:3000" > Home </a> </li>
                <li> <a class = "navlinktext" href = "http://localhost:3000/hour" > Hourly View </a> </li>
                <li> <a class = "navlinktext" href = "http://localhost:3000/cluster" > Clustered View </a> </li>
                <li style="float:right"> <a id = "logo" href= "http://awsanxnva1004.jnj.com">  <span id = "data" >data</span>Labs </span></a> </li>
            </ul>

        <!-- Footer -->
        <div class="footer">
            <p style="float: right; margin-right: 10px;"> Powered by: DataLabs </p>

        </div>



        <script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js')}}"></script>
    </body>

</html>
