

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
         <!--   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
                <title> Twitter Scraper </title>
                
              
    <!-- Bootstrap CSS -->
       <link rel = "stylesheet" href="{{ url_for('static', filename='styles/index.css')}}" >
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/d3.v4.js')}}"></script>
    </head>

    
    
    <body>
        
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Twitter Scraper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="http://localhost:3000">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="http://localhost:3000/hour">Hourly View</a>
                    <a class="nav-item nav-link" href="http://localhost:3000/cluster">Clustered View</a>
                    <a class="nav-item nav-link disabled" href="#">Disabled</a>
                    <a href= "http://awsanxnva1004.jnj.com"> <span class="navbar-text"> <span id = "data" >data</span>Labs </span></a>
                </div>
            </div>
        </nav>
        
        <h2> is this website working? </h2>
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js')}}"></script>
    </body>

</html>






